<div id="editProfile" class="container">

    <form>
        <div class="row">
            <div class="col s12">
                <center><img src="{{myProfile.imageURL}}" class="img-circle img-responsive profile-image"></center>
                <h3><center>{{myProfile.username}}</center></h3>

            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="name"><strong>Name: </strong></label>
                <input type="text" class="form-control" id="profile_name" value="{{myProfile.name}}" name="name" required>
            </div>

            <div class="input-field col s12">
                <label for="expertise" ><strong>Expertise: </strong></label>
                <input type="text" class="form-control" id="profile_expertise" value="{{myProfile.expertise}}" name="expertise" required>
            </div>

            <div class="input-field col s12">
                <label for="profile_aboutMe">About Me:</label>
                <textarea type="text" class="materialize-textarea" id="profile_aboutMe">{{myProfile.aboutMe}}</textarea>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>Events Mentored:</p>
            </div>
        </div>

        <div class="row">
            {{#each myProfile.eventsMentored}}
                <div class="col s6 offset-s3 card-panel">
                    <p>{{eventName}}<p>
                </div>
            {{/each}}
        </div>


        <div class="row">
            <div class="col s12">
								<a href="/myProfile"class="btn btn-primary col-xs-12 btn-lg margin-top">Update Profile</a>
							
                <a href="/myProfile" class="btn btn-primary col-xs-12 btn-lg margin-top">Cancel Changes</a>
            </div>
        </div>
    </form>
</div>
