<div id="editProfile" class="container">
	{{#each myProfile}}
	<center><img src="{{imageURL}}" class="img-circle img-responsive profile-image"></center>
	<h3><center>{{username}}</center></h3>
	
	<div class="form-group margin-top">
		<label for="name" class="col-xs-2"><strong>Name: </strong></label>
		<div class="col-xs-10">
			<input type="text" class="form-control" id="profile_name" value="{{name}}" name="name">
		</div>
	</div>
	
	<div class="form-group">
		<label for="expertise" class="col-xs-3 margin-top"><strong>Expertise: </strong></label>
		<div class="col-xs-9">
			<input type="text" class="form-control margin-top" id="profile_expertise" value="{{expertise}}" name="expertise">
		</div>
	</div>
	

	<div class="margin-top col-xs-12">
		<span><strong>Events Mentored: </strong></span>
	</div>
	
	<div class="event-container col-xs-12">
		{{#each eventsMentored}}
			<div class="profile-event">
				<p>{{eventName}}<p>
			</div>
		{{/each}}
	</div>
	
	<form class="form-inline col-xs-12">
		<div class="form-group">
			<label for="aboutMe"><strong>About Me: </strong></label>
			<textarea type="text" class="form-control" id="profile_aboutMe" name="aboutMe">{{aboutMe}}</textarea>
		</div>
	</form>
	{{/each}}
	<a href="/myProfile"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Update Profile</button></a>

	<a href="/myProfile"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Cancel Changes</button></a>
</div>