<div class="container" id="editEvent">
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <h1 class ="text-center lead"><strong>EDIT EVENT</strong></h1>
            <center><img src="{{imageURL}}" class=" img-responsive"></center>
        </div>
        <div class="col-md-3"> </div>
    </div>
    <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
            <form data-toggle="validator">
                <div class="form-group">
                    <label for="example-text-input">Event Name </label>
                    <input class="form-control" type="text" value="{{name}}" id="edit_name">
                </div>
							
                <div class="form-group">
                    <label for="startTime">Start Time</label>
                    <select class="form-control" id="edit_startTime" name="startTime">
												<option value = "12pm">12pm</option>
                        <option value = "1pm">1pm</option>
                        <option value = "2pm">2pm</option>
                        <option value = "3pm">3pm</option>
                        <option value = "4pm">4pm</option>
                        <option value = "5pm">5pm</option>
												<option value = "6pm">6pm</option>
												<option value = "7pm">7pm</option>
												<option value = "8pm">8pm</option>
												<option value = "9pm">9pm</option>
												<option value = "10pm">10pm</option>
												<option value = "11pm">11pm</option>
												<option value = "12am">12am</option>
												<option value = "1am">1am</option>
												<option value = "2am">2am</option>
												<option value = "3am">3am</option>
												<option value = "4am">4am</option>
												<option value = "5am">5am</option>
												<option value = "6am">6am</option>
												<option value = "7am">7am</option>
												<option value = "8am">8am</option>
												<option value = "9am">9am</option>
												<option value = "10am">10am</option>
												<option value = "11am">11am</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="endTime">End Time</label>
                    <select class="form-control" id="edit_endTime" name="endTime">
                        <option value = "12pm">12pm</option>
                        <option value = "1pm">1pm</option>
                        <option value = "2pm">2pm</option>
                        <option value = "3pm">3pm</option>
                        <option value = "4pm">4pm</option>
                        <option value = "5pm">5pm</option>
												<option value = "6pm">6pm</option>
												<option value = "7pm">7pm</option>
												<option value = "8pm">8pm</option>
												<option value = "9pm">9pm</option>
												<option value = "10pm">10pm</option>
												<option value = "11pm">11pm</option>
												<option value = "12am">12am</option>
												<option value = "1am">1am</option>
												<option value = "2am">2am</option>
												<option value = "3am">3am</option>
												<option value = "4am">4am</option>
												<option value = "5am">5am</option>
												<option value = "6am">6am</option>
												<option value = "7am">7am</option>
												<option value = "8am">8am</option>
												<option value = "9am">9am</option>
												<option value = "10am">10am</option>
												<option value = "11am">11am</option>
                    </select>
                </div>

							  <div class="form-group">
                    <label for="category">Category </label>
                    <input class="form-control" type="text" id="edit_category" name="category" value="{{category}}">
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Event Description </label>
                    <textarea class="form-control" id="edit_description" rows="3"
                    >{{description}}</textarea>
                </div>
							
            </form>
            <a href="/index"><button type="submit" class="btn btn-primary btn-lg col-xs-12" id="editEvents_submit">Update Event</button></a>

            <a href="/index"><button class="btn btn-primary btn-lg col-xs-12 margin-top">Cancel</button></a>

        </div>
        <div class="col-md-3"> </div>

    </div>
</div>

<script>
	$("select#edit_startTime").val("{{startTime}}");
	$("select#edit_endTime").val("{{endTime}}");
</script>
