<div class="container index">
		<ul class="nav nav-tabs">
				<li id="createdB_tab" class="active"><a href="#">Created Events</a></li>
				<li id="joinedB_tab"><a href="/joinedEvents">Joined Events</a></li>
		</ul>
	
	{{#each this}}
		{{#if created}}
			{{#if notCancelled}}
				<div class="event-container card-panel">
					<a href="/createdEventDetail/{{eventId}}">
						<div class="event">
							<h5>{{name}}</h5>
							<h5>{{startTime}} to {{endTime}}</h5>
							<p>{{description}}</p>
						</div>
					</a>
				</div>
			{{/if}}
		{{/if}}
	{{/each}}
	
	<a href="/createEvents"><button id="createB_btn" class="btn btn-primary col-xs-12 btn-lg">Create An Event</button></a>
</div>

<script>
	$("#createdB_tab").click(){function(
		ga("send", "event", "createdB_tab", "click");
	)};
	
	$("#createdB_tab").click(){function(
		ga("send", "event", "joinedB_tab", "click");
	)};
	
	$("#createB_btn").click(){function(
		ga("send", "event", "createdB_btn", "click");
	)};
</script>