<link rel="stylesheet" href="/css/index.css" />

<div class="container index">
    <div class="row">
        <ul id="index_tabs" class="tabs">
            {{#if index}}
            <li class="tab col s6"><a class="active" href="#created_tab">Hosted</a></li>
            <li class="tab col s6"><a href="#joined_tab">Joined</a></li>
            {{else}}
            <li class="tab col s6"><a href="#created_tab">Hosted</a></li>
            <li class="tab col s6"><a class="active" href="#joined_tab">Joined</a></li>
            {{/if}}
        </ul>
    </div>

    <div id="created_tab">
        <div class ="row" >
            <div class="col s12 text-center">
                <a href="/createEvents"><button class="dash-btn btn btn-primary btn-lg">Offer A Mentorship</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                {{#each this}}
                {{#if created}}
                {{#if notCancelled}}
                <div class="event-container card-panel">
                    <a href="/createdEventDetail/{{eventId}}">
                        <div class="event">
                            <h5>{{name}}</h5>
														<h6><strong>Date: </strong>{{date}}</h6>
														<h6><strong>Time: </strong>{{startTime}} to {{endTime}}</h6>
														<h6><strong>Location: </strong>{{location}}</h6>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    <div id="joined_tab">
        <div class="row">
            <div class="col s12 text-center">
                <a href="/findEvents"><button class="dash-btn btn btn-primary btn-lg">Find Mentoring Event</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                {{#each this}}
                {{#if joined}}
                <div class="event-container card-panel">
                    <a href="/joinedEventDetail/{{eventId}}">
                        <div class="event">
                            <h5>{{name}}</h5>
														<h6><strong>Date: </strong>{{date}}</h6>
														<h6><strong>Time: </strong>{{startTime}} to {{endTime}}</h6>
														<h6><strong>Location: </strong>{{location}}</h6>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div id="modalJoin" class="modal" style="background-color: transparent; box-shadow: none">
    <div class="modal-content">
        <div class="row">
          <p class="center">You successfuly joined a mentorship.</p>
					<button class="margin-top btn btn-primary btn-lg col-xs-12" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="modalCreate" class="modal" style="background-color: transparent; box-shadow: none">
    <div class="modal-content">
        <div class="row">
          <p class="center">You successfuly created a mentorship.</p>
					<button class="margin-top btn btn-primary btn-lg col-xs-12" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="modalUnjoin" class="modal" style="background-color: transparent; box-shadow: none">
    <div class="modal-content">
        <div class="row">
          <p class="center">You successfuly unjoined a mentorship.</p>
					<button class="margin-top btn btn-primary btn-lg col-xs-12" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<div id="modalCancel" class="modal" style="background-color: transparent; box-shadow: none">
    <div class="modal-content">
        <div class="row">
          <p class="center">You successfuly cancelled a mentorship.</p>
					<button class="margin-top btn btn-primary btn-lg col-xs-12" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<script>
	{{#if join}}
		$(document).ready(function () {
			$('#modalJoin').modal('show');
		});
	{{/if}}
	
	{{#if create}}
		$(document).ready(function () {
			$('#modalCreate').modal('show');
		});
	{{/if}}
	
	{{#if unjoin}}
		$(document).ready(function () {
			$('#modalUnjoin').modal('show');
		});
	{{/if}}
	
	{{#if cancel}}
		$(document).ready(function () {
			$('#modalCancel').modal('show');
		});
	{{/if}}
</script>