<div class="container index">

	{{#if variant}}
		<ul id="index_tabs" class="tabs">
			<li class="tab col s3"><a class="active" href="#created_tab">Created Events</a></li>
			<li class="tab col s3"><a href="#joined_tab">Joined Events</a></li>
		</ul>
		<div id="created_tab" class="col s12">
			<a id="createB_btn" class="ab_test btn-floating btn-large waves-effect waves-light teal" href="/createEvents"><i class="material-icons">add</i></a>
			{{#each this}}
				{{#if created}}
					{{#if notCancelled}}
						<div class="event-container card-panel">
							<a href="/createdEventDetail/{{eventId}}">
								<div class="event">
									<h5>{{name}}</h5>
									<h5>{{startTime}} to {{endTime}}</h5>
									<p>{{description}}</p>
								</div>
							</a>
						</div>
					{{/if}}
				{{/if}}
			{{/each}}
		</div>
		<div id="joined_tab" class="col s12">
			<a class="btn-floating btn-large waves-effect waves-light teal" href="/findEvents"><i class="material-icons">search</i></a>
			{{#each this}}
				{{#if joined}}
					<div class="event-container card-panel">
						<a href="/joinedEventDetail/{{eventId}}">
							<div class="event">
								<h4>{{name}}</h4>
								<h5>{{startTime}} to {{endTime}}</h5>
								<p>{{description}}</p>
							</div>
						</a>
					</div>
				{{/if}}
			{{/each}}
		</div>
	
	{{else}}
	
		<ul class="nav nav-tabs">
					<li id="createdA_tab" class="active"><a href="#">Created Events</a></li>
					<li id="joinedA_tab"><a href="/joinedEvents">Joined Events</a></li>
			</ul>
		{{#each this}}
			{{#if created}}
				{{#if notCancelled}}
					<div class="event-container card-panel">
						<a href="/createdEventDetail/{{eventId}}">
							<div class="event">
								<h5>{{name}}</h5>
								<h5>{{startTime}} to {{endTime}}</h5>
								<p>{{description}}</p>
							</div>
						</a>
					</div>
				{{/if}}
			{{/if}}
		{{/each}}
		<a href="/createEvents"><button id="createdA_btn" class="ab_test btn btn-primary col-xs-12 btn-lg">Create An Event</button></a>
	{{/if}}
	
</div>

<style>
	.container.index {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	#index_tabs {
		position: fixed;
    top: 57px;
    right: 3px;
    background-color: white;
		z-index: 9999;
		
		-webkit-box-shadow: 0px 18px 29px 2px rgba(255,255,255,1);
		-moz-box-shadow: 0px 18px 29px 2px rgba(255,255,255,1);
		box-shadow: 0px 18px 29px 2px rgba(255,255,255,1);
	}
	
	#created_tab, #joined_tab {
		position: relative;
    top: 35px;
	}
	
	.btn-floating {
		position: fixed;
    z-index: 10000;
    right: 10px;
    top: 112px;
		
	-webkit-box-shadow: 8px 7px 11px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 7px 11px -4px rgba(0,0,0,0.75);
	box-shadow: 8px 7px 11px -4px rgba(0,0,0,0.75);
	}
</style>

<script>
	$(".ab_test").click(function() {
		ga("send", "event", "create", "click");
	});
</script>