<link rel="stylesheet" href="/css/index.css" />

<div class="container index">
    <div class="row">
        <ul id="index_tabs" class="tabs">
						{{#if index}}
							<li class="tab col s6"><a class="active" href="#created_tab">Hosting</a></li>
							<li class="tab col s6"><a href="#joined_tab">Joined</a></li>
						{{else}}
							<li class="tab col s6"><a href="#created_tab">Hosting</a></li>
							<li class="tab col s6"><a class="active" href="#joined_tab">Joined</a></li>
						{{/if}}
        </ul>
    </div>

    <div id="created_tab">
        <div class ="row" >
            <div class="col s12 text-center">
                <a href="/createEvents"><button class="dash-btn btn btn-primary btn-lg">Offer A Mentorship</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                {{#each this}}
                {{#if created}}
                {{#if notCancelled}}
                <div class="event-container card-panel">
                    <a href="/createdEventDetail/{{eventId}}">
                        <div class="event">
                            <h4>{{name}}</h4>
                            <h5>{{startTime}} to {{endTime}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

    <div id="joined_tab">
        <div class="row">
            <div class="col s12 text-center">
                <a href="/findEvents"><button class="dash-btn btn btn-primary btn-lg">Find Mentoring Event</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                {{#each this}}
                {{#if joined}}
                <div class="event-container card-panel">
                    <a href="/joinedEventDetail/{{eventId}}">
                        <div class="event">
                            <h4>{{name}}</h4>
                            <h5>{{startTime}} to {{endTime}}</h5>
                            <p>{{description}}</p>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>

</div>
