<div class="container">
		<ul class="nav nav-tabs">
				<li class="active"><a href="#">Created Events</a></li>
				<li><a href="/joinedEvents">Joined Events</a></li>
		</ul>
	
	{{#each events}}
			<div class="event-container">
				<a href="/createdEventDetail/{{eventId}}">
					<div class="event">
						<h4>{{name}}</h4>
						<h5>{{startTime}} to {{endTime}}</h5>
						<p>{{description}}</p>
					</div>
				</a>
			</div>
	{{/each}}
	<a href="/createEvents"><button class="btn btn-primary col-xs-12 btn-lg">Create An Event</button></a>
</div>