<div class="container">
		<ul class="nav nav-tabs">
				<li><a href="/index">Created Events</a></li>
				<li class="active"><a href="#">Joined Events</a></li>
		</ul>

	{{#each this}}
		{{#if joined}}
			<div class="event-container card-panel">
				<a href="/joinedEventDetail/{{name}}/{{startTime}}/{{endTime}}/{{category}}/{{description}}/{{creator.name}}">
					<div class="event">
						<h4>{{name}}</h4>
						<h5>{{startTime}} to {{endTime}}</h5>
						<p>{{description}}</p>
					</div>
				</a>
			</div>
		{{/if}}
	{{/each}}

	<a href="/findEvents"><button class="btn btn-primary col-xs-12">Search For An Event</button></a>
</div>