<div class="container" id="event_detail">

    <div class="row">
        <div class="col-sm-12">
            <h1 class ="text-center lead"><strong> {{name}}</strong></h1>
            <div class="rectangle">
                <img class="center-block img-responsive" src="{{imageURL}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <strong>Event Description:</strong>
            <span> {{ description }} </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <strong>Start Time:</strong>
            <span> {{ startTime }} </span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <strong> Created By:</strong>
            <span> {{ creator.name }} </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="/index"><button class="btn btn-primary btn-lg col-xs-12 margin-top">CANCEL</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a href="/joinedEvents"><button class="btn btn-primary btn-lg col-xs-12 margin-top">BACK</button></a>
        </div>
    </div>


</div>
