<div id="myProfile" class="container col-xs-12">
	{{#each myProfile}}
	<center><img src={{imageURL}} class="img-circle img-responsive profile-image"></center>
	
	<h3><center>MyUsername</center></h3>
	
	<div class="col-xs-12">
		<span><strong>Name: </strong></span>
		{{name}}
	</div>
	
	<div class="col-xs-12">
		<span><strong>Expertise: </strong></span>
		{{expertise}}
	</div>
	
	<div class="col-xs-12">
		<span><strong>Events Mentored: </strong></span>
	</div>
	
	<div class="event-container col-xs-12">
		{{#each eventsMentored}}
		<div class="profile-event">
			<p>{{eventName}}<p>
		</div>
		{{/each}}
	</div>
	
	<div class="col-xs-12">
		<span><strong>About Me: </strong></span>
		{{aboutMe}}
	</div>
	{{/each}}
	<a href="/editProfile"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Edit Profile</button></a>
</div>
