<div id="myProfile" class="container">

    <div class="row">
        <div class="col s12">
            <center><img src="{{imageURL}}" class="img-circle img-responsive profile-image"></center>
        </div>

        <div class="col s12">
            <h3 class='title2 text-center'>{{username}}</h3>
        </div>
    </div>

    <div class="row details">
        <div class="col s12">
            <div class="detail_Bold">
            Name
            <span class="detail_Light">{{name}}</span>
            </div>
        </div>

        <div class="col s12">
            <div class="detail_Bold">
                Expertise
                <span class='detail_Light'>{{expertise}}</span>
            </div>
        </div>

        <div class="col s12">
            <div class="detail_Bold">
                About Me
                <span class='detail_Light'> {{aboutMe}}</span>
            </div>
        </div>
    </div>

    {{!-- <div class="row">
        <div class="col-xs-12">
            <span><strong>Events Mentored: </strong></span>
        </div>

        {{#each eventsMentored}}
            <div class="col s6 offset-s3">
                <div class="card-panel center-align">
                    <h6>{{eventName}}</h6>
                </div>
            </div>
				{{else}}
					<div class="col s6 offset-s3">
                <div class="card-panel center-align">
                    <h6>None</h6>
                </div>
            </div>
        {{/each}}

    </div> --}}
    <a href="/editProfile"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Edit Profile</button></a>
</div>
