<div class="container" id="resultEvent">
        <div class="row">
            <div class="title2 text-center">Search Results</div>
        </div>
		
		{{#each this}}
			{{#if eventId}}
				<div class="event-container card-panel">
					<a href="/resultEventDetail/{{eventId}}">
						<div class="event">
							<h5>{{name}}</h5>
							<h6><strong>Date: </strong>{{date}}</h6>
							<h6><strong>Time: </strong>{{startTime}} to {{endTime}}</h6>
							<h6><strong>Location: </strong>{{location}}</h6>
						</div>
					</a>
				</div>
			{{/if}}
		{{/each}}
	
	<a href="/findEvents"><button class="btn btn-primary col-xs-12 btn-lg">Back</button></a>
</div>