<div id="resultEventDetail" class="container">

    <div class="row">
        <div class="col-xs-12">
            <h3><center>{{name}}</center></h3>
            <center><img src="{{imageURL}}" class=" img-responsive"></center>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 margin-top">
            <span><strong>Time: </strong></span>
            {{startTime}} to {{endTime}}
        </div>

        <div class="col-xs-12">
            <span><strong>Category: </strong></span>
            {{category}}
        </div>

        <div class="col-xs-12">
            <span><strong>Description: </strong></span>
            {{description}}
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12">
            <a href="/profile"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Mentor's Profile</button></a>
        </div>

        <div class="col-xs-12">
            <a href="/joinedEvents"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Join Event</button></a>
        </div>

        <div class="col-xs-12">
            <a href="/resultEvent"><button class="btn btn-primary col-xs-12 btn-lg margin-top">Back</button></a>
        </div>
    </div>
</div>
